@model EFTest.Models.API_Model.MainMangaModel

@{
    ViewBag.Title = "SearchManga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    @foreach (var z in Model.SearchedMangaList)
    {
        <a href="@z.slug" class="card-search">
            <img src="@z.cover" alt="Searched_Image" class="img" />
            <div class="inner-search">
                <h2 class="title-search">@z.title</h2>
                <div class="subtitle">
                    <p>Total : @z.chapters.total</p>
                    <p>Language : @z.chapters.lang</p>
                </div>
            </div>
        </a>
    }
</main>