@model EFTest.Models.API_Model.MainMangaModel
@{
    ViewBag.Title = "Manga Zone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="RandomManga">
    <div class="main">
        <ul class="cards">
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="@Model.RandomManga.cover" alt="random manga poster"></div>
                    <div class="card_content">
                        <h2 class="card_title">@Model.RandomManga.title &#x2022; (@Model.RandomManga.alt_title) $9</h2>
                        <div class="card_text">
                            <p>@Model.RandomManga.type</p>
                            <p>@Model.RandomManga.status</p>
                            <p>@Model.RandomManga.published</p>
                            <p>@Model.RandomManga.score</p>
                            <p>@Model.RandomManga.views</p>
                            <p>@Model.RandomManga.synopsis</p>
                            @*@foreach (var x in Model.RandomManga.mangazines)
                            {
                                <p>@x</p>
                            }*@
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="list-right-m">
        <h2>Top 10 Manga</h2>
        @foreach (var X in Model.Top10MangaList as IEnumerable<EFTest.Models.API_Model.MangaModel>)
        {
            <div class="MainBox">
                <div class="dyImg">
                    <img src="@X.cover" alt="Bg_Image" />
                </div>
                <div class="text">
                    <p style="font-size: 15px; font-family: 'Josefin Sans'; ">@X.title</p>
                    @*<p>Description:</p><p>@X.synopsis</p>*@
                    <p>Chapters: @X.chapters.total</p>
                </div>
            </div>
        }
    </div>
</div>